<div style="margin: 25px 30px 15px;">
<h1 style="color:#ff6666">Edit Article</h1>
 
<%= form_with(model: @article, local: true) do |form| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, "Article" , style: "font-size: 20px;" %><br>
    <%= form.text_field :title , class: "form-control"%>
  </p>
 
  <p>
    <%= form.label :text , "Description" , style: "font-size: 20px;" %><br>
    <%= form.text_area :text , class: "form-control" , rows: '8', required: ""%>
  </p>
 
  
    <%= form.submit "Update" , class: "btn btn-primary"  %>
    <%= link_to 'Back', article_path(@article) ,class: "btn btn-primary"  %>
  
 
<% end %>

</div>