<div style="margin: 25px 30px 15px;">
<p>
  <h1>Article :
  "<%= @article.title %>"</h1>
  <div style="color: grey; font-size: 12px;">last updated : <%= @article.updated_at %></div>
</p>
 
<p>
  <%= @article.text %>
</p>

<a href="<%= article_path(@article, format: "pdf")%>" class="btn btn-primary" target="_blank" > Download PDF</a><p>
</div> 

<!-- show comment -->
<%= render 'comments/comment' %>

<!-- show comment box --> 
<%= render 'comments/form'%>


<div style="margin: 25px 30px 15px;">
  <a href="<%= edit_article_path(@article) %>" class="btn btn-primary" >Edit</a> 
  <a href="<%= articles_path %>" class="btn btn-primary" >Back</a>
</div>  
<p>



